<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY ASSIGNMENT:generate html code with figma design </title>
    <!-- internal css -->
     <style>
        *{
            border: 1px solid red;
            margin: 15px;
            padding: 15px;
        }
     </style>
</head>
<body>
    <!-- nav boxes to html -->
     <nav>
        <div class="boxa">
            <a href="">About me</a>
            <a href="">Skills</a>
            <a href="">Portfolio</a>
            <a href="" class="contact">CONTACT ME</a>
        </div>
     </nav>
     <nav>
        <div class="boxa">
            <img src="../images/logo .svg" alt="logo">
        </div>
        <div class="boxb">
            <a href="">About me</a>
            <a href="">Skills</a>
            <a href="">Portfolio</a>
            <a href="" class="contact">CONTACT ME</a>
        </div>
     </nav>
     <!-- hero boxes to html -->
      <div class="hero">
        <div class="boxa">
            <h6>Hi, I am</h6>
            <h2>Tomasz Gajda</h2>
            <p>Front-end Developer / UI Designer</p>
            <div class="btns">
                <img src="../images/at.svg" alt="at icon">
                <img src="../images/git.svg" alt="github icon">
                <img src="../images/linkedin.svg" alt="linkedin icon">
            </div>
        </div>
        <div class="boxb">
            <img src="../images/user image.png" alt="user image">
            <p>this is not my photo, but I dearly hope to get one just like this </p>
        </div>
      </div>
      <!-- it berries to html -->
       <div><div class="it berries">
        <div class="boxa">
            <h4>IT BERRIES</h4>
            <p>Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. Sed ornare sit amet lorem sed viverra. In vel urna quis libero viverra facilisis ut ac est. Morbi commodo, eros in dignissim tempus, lacus odio rutrum augue, in semper sem magna quis tellus. Etiam enim erat, suscipit eu semper a, dictum sit amet elit. Nunc egestas nisi eget enim gravida facilisis. Pellentesque laoreet varius turpis vel pharetra. Ut ante justo, consequat vitae elementum tempor, accumsan nec eros. </p>
            <a href="READ MORE">READ MORE</a>
        </div>
       </div>
       <div class="boxb">
        <a href="">ABOUT ME</a>
        <p>Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. Sed ornare sit amet lorem sed viverra. In vel urna quis libero viverra facilisis ut ac est.</p>
        <h4>EXPLORE</h4>
        <img src="../images/separator.svg" alt="separator">
       </div>
       </div>
       <div class="service">
           <div class="design"></div>
           <img src="../images/design.svg" alt="">
           <h3>DESIGN</h3>
           <p>I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you during the job.</p>
           <div class="development"></div>
           <img src="../images/development.svg" alt="">
           <h3>DEVELOPMENT</h3>
           <p>I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you during the job.</p>
           <div class="maintenance"></div>
           <img src="../images/maintenance.svg" alt="">
           <h3>MAINTENANCE</h3>
           <p>I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you during the job.</p>
       </div>
       <div><img src="../images/separator black2.svg" alt=""></div>
       <div><h2>SKILLS</h2></div>
       <div>
        <div>
            <h2>USING NOW:</h2>
            <img src="../images/html.svg" alt=""
            style="background-color:#FF5722;"</div>
            <p>HTML5</p>
            <img src="../images/css.svg" alt=""
            style="background-color:#2196F3;"</div>
            <p>CSS3</p>
            <img src="../images/sass.svg" alt=""</div>
            <p>SASS</p>
            <img src="../images/js.svg" alt="" 
            style="background-color:#F7DF1E;"</div>
            <p>JAVASCRIPT</p>
            <img src="../images/react.svg" alt=""
            style="background-color:#53C1DE;"</div>
            <p>REACT</p>
            <img src="../images/bootstrap.svg" alt=""
            style="background-color:#563D7C;"</div>
            <p>BOOTSTRAP</p>
            <img src="../images/git2.svg" alt=""</div>
            <p>GIT</p>
            <img src="../images/figma.svg" alt=""</div>
            <p>FIGMA</p>
            </div>
            <div>
                <h2>LEARNING:</h2>
            <img src="../images/nodejs.svg" alt=""</div>
            <p>NODEJS</p>
            <img src="../images/mySQLS.svg" alt=""</div>
            <p>MySQL</p>
            <img src="../images/mongodb.svg" alt=""</div>
            <p>MONGODB</p>
            <img src="../images/typescript.svg" alt=""
            style="background-color:#007ACC;"</div>
            <p>TYPESCRIPT</p>
            </div>
            <div>
                <h2>OTHER SKILLS:</h2>
            <img src="../images/angeilskic1c2.svg" alt=""</div>
            <p>ANGIELSKI C1/C2</p>
            <img src="../images/hiszpanskib1b2.svg" alt=""</div>
            <p>HISZPAŃSKI B1/B2</p>
            <img src="../images/c++.svg" alt=""</div>
            <p>C++</p>
            <img src="../images/c.svg" alt=""</div>
            <p>C</p>
            </div>
            <div>
                <div class="img"><img src="../images/image 12.png" alt="" width="800" height="100">
                    <h2>PORTFOLIO</h2>
                </div>
                <h5>ALL</h5>
                <h5>CODED</h5>
                <h5>DESIGNED</h5>
                <img src="../images/line 25.svg" alt="">
                <div>
                    <img src="../images/project 1.svg" alt="">
                    <img src="../images/Rectangle 17.png" alt="">
                    <h6>coded, designed</h6>
                    <h4>eatsome.</h4>
                    <h6>Restaurant browsing in React.js (Using Yelp API)</h6>
                    <h3>DEMO</h3>
                    <h3>MORE</h3>
                    <img src="../images/Project.png" alt="">
                    <img src="../images/Project (1).png" alt="">
                    <img src="../images/Project (2).png" alt="">
                    <img src="../images/project 2.svg" alt="">
                    <p>And many more to come!</p>
                </div>
                <div>
                    <h3>CONTACT</h3>
                    <p>Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. Sed ornare sit amet lorem sed viverra. In vel urna quis libero viverra facilisis ut ac est.</p>
                    <img src="../images/separator black.svg" alt="">
                    <form action="/submit-your-form-handler" method="post">
                        <label for="name">Name:</label><br>
                        <input type="text" id="name" name="name" required><br><br>

                        <label for="email">Email:</label><br>
                        <input type="email" id="email" name="email" required><br><br>

                        <label for="phone">Phone Number:</label><br>
                        <input type="tel" id="phone" name="phone" required><br><br>

                        <label for="message">Message:</label><br>
                        <textarea name="message" id="message" cols="30" rows="5"></textarea><br><br>

                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div>
                <img src="../images/vector.svg" alt=""
            style="background-color:#1A1A1A;"</div>
            <h4>BACK TO TOP</h4>
            <div style="background-color:#1A1A1A;">
                <img src="../images/facebook icon.svg" alt="">
                <img src="../images/linkedin icon.svg" alt="">
                <img src="../images/instagram icon.svg" alt="">
                <img src="../images/email icon.svg" alt="">
            </div>
            <p>@2020 Tomasz Gajda All Rights Reserved.</p>
        </div>
            </div>    
</body>
</html>